
@model ESchedule.Models.EditAddLessonModel
@inject IClassService classService
@inject IUserService userService

@{
    ViewData["Title"] = "Урок";
    var currectUser = await userService.GetUserByEmail(User.Identity.Name);
    var availableClasses = await classService.GetClassesByAdminId(currectUser.Id);

    var selectList = new SelectList(availableClasses, nameof(ClassViewModel.Id), nameof(ClassViewModel.Name));
}

<h1 style="color:#fff4e4">Створення урок</h1>

<hr />
<div class="container">
    <div class="row justify-content-center">
        <div class="card shadow-sm col-md-5 col-lg-6">
            <div class="card-body">
                <div class="row">
                    <div>
                        <form asp-action="Create" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="mb-3">
                                <label asp-for="NameLesson" class="form-label">Назва уроку</label>
                                <input asp-for="NameLesson" class="form-control" />
                                <span asp-validation-for="NameLesson" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="DescriptionLesson" class="form-label">Опис уроку</label>
                                <textarea type="text" asp-for="DescriptionLesson" class="form-control"></textarea>
                                <span asp-validation-for="DescriptionLesson" class="text-danger"></span>
                            </div>
                            <div class="row mb-3">
                                <div class="col">
                                    <label asp-for="DayTime" class="form-label">День</label>
                                    <input asp-for="DayTime" class="form-control" />
                                    <span asp-validation-for="DayTime" class="text-danger"></span>
                                </div>
                                <div class="col">
                                    <label asp-for="BeginTime" class="form-label">Початок уроку</label>
                                    <input asp-for="BeginTime" class="form-control" />
                                    <span asp-validation-for="BeginTime" class="text-danger"></span>
                                </div>
                                <div class="col">
                                    <label asp-for="EndTime" class="form-label">Кінець уроку</label>
                                    <input asp-for="EndTime" class="form-control" />
                                    <span asp-validation-for="EndTime" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="mb-3">
                                @if (selectList.Count() != 0)
                                {
                                    <label asp-for="SelectedId" class="form-label">Курси до яких відноситься данний урок</label>
                                    <div class="row">
                                        <select name="SelectedId" id="SelectedId" asp-for="SelectedId" asp-items="selectList" class="form-select"></select>
                                    </div>
                                }
                                else
                                {
                                    <span>Ви не керуєте жодним курсом <a asp-area="" asp-controller="Class" asp-action="Create" class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Створити свій курс</a></span>
                                }
                                <span asp-validation-for="SelectedId" class="text-danger"></span>
                            </div>
                            <div class="mb-3">
                                <label asp-for="ColorCard" class="form-label">Колір</label>
                                <input type="color" asp-for="ColorCard" class="form-control form-control-color" />
                                <span asp-validation-for="ColorCard" class="text-danger"></span>
                            </div>
                            <div class="row g-2 mb-3">
                                <div class="col-auto">
                                    <input type="submit" value="Опублікувати" class="btn btn-primary" />
                                </div>
                                <div class="col-auto">
                                    <a class="link-underline-light align-middle" asp-action="Index">
                                        <span class="material-icons md-18 align-middle">arrow_back</span>
                                        Повернутися до розкладу
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial"); 
    }
}
