@model ESchedule.Models.LessonViewModel

@{
    ViewData["Title"] = "Видалення";
}

<div class="container-fluid h-100 d-flex align-items-center justify-content-center">
    <div class="card text-center">
        <div class="card-header">
            Підтвердження
        </div>
        <div class="card-body">
            <h5 class="card-title">Ви впевнені що хочіте <a class="pe-none text-danger" tabindex="-1" aria-disabled="true">видалити</a> урок @Model.NameLesson?</h5>
            @*<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>*@
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Видалити" class="btn btn-danger" />
            </form>
        </div>
        <div class="card-footer">
            <a class="link-underline-light align-middle" asp-action="Index">
                <span class="material-icons md-18 align-middle">arrow_back</span>
                Повернутися до розкладу
            </a>
        </div>
    </div>
</div>
