@using System.Globalization;
@using ESchedule.Components;
@model IEnumerable<ESchedule.Models.LessonViewModel>

@{
    ViewData["Title"] = "Розклад";

    CultureInfo cultureUa = new CultureInfo("uk-UA");

    DateTime currectDate = (DateTime)ViewBag.Date;

    string nameMonth = currectDate.ToString("MMMM", cultureUa);
    int currectYear = currectDate.Year;
    string defaultValue = $"{currectYear}-{currectDate.Month.ToString().PadLeft(2, '0')}-{currectDate.Day.ToString().PadLeft(2, '0')}"; //this looks like 2023-05-23
}

<div class="container-fluid">
    <div class="card mb-2 shadow-sm">
        <div class="card-body">
            <div class="row mb-2">
                <div class="col-md-4">
                    <label class="mb-2">Місяць та рік</label>
                    <form id="datebyuserform" method="post" asp-controller="Schedule" asp-action="ChangeData"> @*asp-action="Calendar" *@
                        <div class="input-group">
                            <input class="form-control" type="date" name="datebyuser" value="@defaultValue" />
                            <button type="submit" class="btn btn-outline-secondary">Вибрати</button>
                        </div>
                    </form>
                </div>
            </div>
            @if (User.IsInRole("Teacher"))
            {
                <div class="row">
                    <div class="col-auto">
                        <a class="btn btn-success hstack" asp-action="Create">
                            <span class="material-icons me-2">
                                add_circle
                            </span>
                            Запланувати урок
                        </a>
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-primary hstack" asp-action="IndexShowLessonsList">
                            <span class="material-icons me-2">
                                list
                            </span>
                            Список уроків
                        </a>
                    </div>
                </div>
            }
        </div>
    </div>

    
    @*<div id="tableDataLessons">*@
        @await Component.InvokeAsync(nameof(CalendarWithLessons), new{date = currectDate, lessons=Model})
@*   </div>*@

@*@section Scripts{
    <script>
        $(document).ready(function () {
            // При отправке формы выполнить асинхронный запрос и отобразить частичное представление
            $("#datebyuserform").submit(function (event) {
                event.preventDefault(); // Предотвращение обычного отправления формы

                var formData = $(this).serialize();

                $.ajax({
                    url: "@Url.Action("Calendar", "Schedule")",
                    type: "POST",
                    data: formData,
                    success: function (result) {
                        $("#tableDataLessons").html(result);
                    },
                    error: function () {
                        alert("Error occurred while filtering data.");
                    }
                });
            });
        });
    </script>

}*@
</div>
