@{
    ViewData["Title"] = "Розклад";
}

<div class="container">
    <div class="card border-0 mb-2">
        <div class="card-body">
            <div class="form-group col-md-3">
                <label>Діапозон дат</label>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="text" />
                    <button class="btn btn-outline-primary" type="submit">Пошук(іконку)</button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive text-center">
        <table class="table table-striped table-hover table-bordered">
            <tbody class="table-primary">
                <tr><th class="headday">Пн</th><th class="headdate"><div>29.05.2023</div></th><th class="headdate"><div>05.06.2023</div></th><th class="headdate"><div>12.06.2023</div></th><th class="headdate"><div>19.06.2023</div></th><th class="headdate"><div>26.06.2023</div></th></tr>
                <tr>
                    <th class="headcol">
                        <span class="lesson">3 пара</span>
                        <span class="start">12:35</span>
                        <span class="end">14:10</span>
                    </th>
                    <td>
                        <div class="cell">
                            <div class="lesson-20 ">
                                <a class="btn-show-ads btn btn-secondary btn-sm" href="#" data-r1="954615" data-r2="29.05.2023">Оголошення</a>
                                <div data-toggle="popover" title="" data-content="Комп'ютерно-інтегроване виробництво[КонсЭкз]<br>ауд. Дистанц<br>Сінж 2021-1<br>Комбаров Володимир Вікторович<br>Додано:  15.05.2023" data-original-title="29.05.2023 3 пара">
                                    Комп-ІнтВир<strong>[КонсЭкз]</strong><br>
                                    <strong>ауд. Дистанц</strong><br>
                                    <i>Комбаров В.В.</i>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td><div class="cell">&nbsp;</div></td>
                    <td><div class="cell">&nbsp;</div></td>
                    <td><div class="cell">&nbsp;</div></td>
                    <td><div class="cell">&nbsp;</div></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
