@model ESchedule.Models.ClassViewModel

@{
    ViewData["Title"] = "Створення класу";
}

<h1 style="color:#fff4e4">Створення класу</h1>

<hr />
<div class="container">
    <div class="row justify-content-center">
        <div class="card shadow-sm col-md-5 col-lg-6">
            <div class="card-body">
                <div class="row">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label">Назва класу</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label">Опис класу</label>
                            <textarea type="text" asp-for="Description" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CodeToJoin" class="control-label">Код для приєднання (мін. кількість символів 6)</label>
                            <input asp-for="CodeToJoin" class="form-control" />
                            <span asp-validation-for="CodeToJoin" class="text-danger"></span>
                        </div>
                        <div class="mb-3">
                            <label asp-for="PrimaryColor" class="form-label">Колір</label>
                            <input type="color" asp-for="PrimaryColor" class="form-control form-control-color" />
                            <span asp-validation-for="PrimaryColor" class="text-danger"></span>
                        </div>
                        <div class="row g-2 mb-3">
                            <div class="col-auto">
                                <input type="submit" value="Створити" class="btn btn-primary" />
                            </div>
                            <div class="col-auto">
                                <a class="link-underline-light align-middle" asp-action="Index">
                                    <span class="material-icons md-18 align-middle">arrow_back</span>
                                    Повернутися до список класів
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
